# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uilds/
[Ll]ibrary/
[Ll]ibrary_ANDROID/
[Ll]ibrary_PC/
[Ll]ibrary_IOS/
sysinfo.txt
UnityVS/
UnityVS.meta
LightingData*
ReflectionProbe*
Assets/Scenes/Personal Scenes*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
*.userprefs
*.csproj
*.pidb
*.suo
*.sln*
*.user
*.unityproj
*.booproj

# ============
# OS generated
# ============
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Thumbs.db.meta